@import "./fontawesome.min.css";
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar__dropdown {
	background-color: #232880 !important;
	&:hover {
		background-color: #1c1f64 !important;
	}
}
.component__type__modal {
	cursor: pointer;
	transition: all 0.15s ease-in;
	&:hover {
		transform: scale(1.05);
	}
}
.role {
	max-height: 500px !important;
}
